.stars .bi-star-fill{
    color: #e8c70ce0;
    }
.stars{
    position: relative;
    bottom: 20px;
}
.card{
    background-color: #f2f2f2;
    height: 250px;
}
.card:hover{
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: all 0.3s ease;
    transform: scale(1.05);
}
    .image-fill a{
    color: #000;
    }
    .image-fill{
    justify-content: center;
    text-align: center;
    margin-left:80%;
    }
    .image-fill i{
    background-color:#f2f2f2;
    border-radius: 50%;
    font-size: 24px;
    }
    .icon-heart-eye i{
    background-color: #fff;
    border-radius: 50%;
    padding: 8px;
    font-size: large;
    }
    .icon-heart-eye{
        margin-bottom: 20px;
    }
    .icon-heart-eye a{
    color: #000;
    margin: 10px;
    }

    /*    categories */

    .head{
        display: flex;

        position: relative;
        top: 20px;
      }

    .cares{
        position: relative;
        left: -10px;

        background-color: red;
        color: red;
        width: 35px;
        height: 20px;
        border-radius: 10px;
    }

      .titre-1{
        position: relative;
        right: 50px;
      }

      .flech1 {
        position: relative;
        left: 200px;
        top: 20px;
        width: 50px;
        height: 50px;
        left: 600px;
        border-radius: 50%;
        background-color: gainsboro;
        border: 1px solid gainsboro;

      }

      .cartCategorie{
          display: flex;
        left: 20px;
          position: relative;
          top: 50px;
          gap: 30px;
          overflow-x: auto;
          font-size: 0px;
          scrollbar-width: none;

      }
      .cartCategorie::-webkit-scrollbar{
        display: none;
      }

      .category-phone {
        border: 1px solid black;
        padding: 20px;
        width: 100px;
        height: 150px;
      }

      .category-phone:hover {
        background-color: red;
      }
      .category-phone3 {
        border: 1px solid black;
        padding: 20px;
        width: 250px;
        height: 150px;
      }

      .category-phone3:hover {
        background-color: red;
      }
      .phones {
        font-size: 25px;

      color: black;
      text-decoration: underline;
      }

      .phones a{
       text-decoration: none;
      }

      .phones:hover {
        color: aliceblue;
      }


      .phones1 {
        position: relative;
        font-size: 25px;
        left: 30px;
        color: black;
        text-decoration: underline;
      }

      .phones1 a{
       text-decoration: none;
      }

      .phones1:hover {
        color: aliceblue;
      }



      .phones3 {
        position: relative;
        font-size: 25px;
        left: 40px;
        color: black;
        text-decoration: underline;
      }

      .phones3 a{
       text-decoration: none;
      }

      .phones3:hover {
        color: aliceblue;
      }
      .category-img:hover {
        color: aliceblue;
      }

      .phones2 {
        position: relative;
        font-size: 25px;
        left: 10px;
        color: black;
        text-decoration: underline;
      }
      .phones2 a{
       text-decoration: none;
      }
      .phones2:hover {
        color: aliceblue;
      }
      .phones4 {
        position: relative;
        font-size: 25px;
        left: 60px;
      color: black;
      text-decoration: underline;
      }
      .phones4 a{
       text-decoration: none;
      }
      .phones4:hover {
        color: aliceblue;
      }
      .icone{
          width: 200px;
         color: black;
         font-weight: 800px;
         font-size: 60px;
      }
      .icone a{
         text-decoration: none;
      }
      .icone:hover{
        color: aliceblue;
      }
      .icone1{
        position: relative;
        right: 30px;
        width: 200px;
        color: black;
        font-weight: 800px;
        font-size: 60px;
      }
      .icone1 a{
       text-decoration: none;
      }
      .icone1:hover{
      color: aliceblue;
      }
      @media only screen and (max-width: 768px){
        .head .flech1{
            display: none !important;
        }
        .cartCategorie{
            gap: 20px;
            display: grid;
            grid-template-columns: auto;
            width: 100%;
        }
         .titre-1{
            position: relative;
            left: 20px;
          }
          .categories{
            position: relative;
            left: 30px;
          }
      }

      /* cart */

      body{
        font-family: Poppins, 'Source Sans Pro';
    }
    .rectangle{
        margin-right: 1.6rem;
        width: 1.2rem;
        height: 2.5rem;
        background-color: #db4444;
        border-radius: 0.4rem;
        flex-shrink: 0;
     }
    .our-products{
        color: #db4444;
        font-weight: bold;
    }
    .card-img-top{
        width: 120px;
        height: 180px;
    }
    .card {
        background-color:#f2f2f2;
        margin: 10px;
        height: 250px;
        border: none;
    }
    .card:hover{
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        transition: all 0.3s ease;
        transform: scale(1.05);
      }
    .image-fill a{
        color: #000;
    }
    .image-fill{
        justify-content: center;
        text-align: center;
        margin-left:80%;

    }
    .image-fill i{
        background-color:#f2f2f2;
        border-radius: 50%;
        padding:10px;
        font-size: 24px;
        }
    .icon-heart-eye i{
        background-color: #fff;
        border-radius: 50%;
        padding: 8px;
        font-size: large;
    }
    .icon-heart-eye a{
        color: #000;
        margin: 10px;
    }
    .icon-heart-eye{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        position: relative;
        bottom: 220px;
    }
    .stars .bi-star-fill{
        color: #e8c70ce0;
    }
    .stars .start-fil{
        color: #939191e7;
    }
    .image-color-change img{
        width: 50px;
        position: relative;
        bottom: 30px;
    }
    .btn-button{
        background-color:#db4444;
        color: #fff;
        font-size: 16px;
        width: 40%;
        padding: 12px;
    }
    div .semi-clone{
        width: 0.4rem;
        height: 1.6rem;
        margin: 1.6rem 1.7rem 0rem 0rem;

    }
    .titre-1{
        position: relative;
        left: 6px;
    }
    .image-color-change{
        position: relative;
        bottom: 50px;
    }
    .custom-section {
        background-color: #000;
        color: #fff;
        width: 130vh;
        height: 50vh;
    }
